<html>
<head>
    <title>Logs</title>
    <script src="stomp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/flights');
            stompClient = Stomp.over(socket);
            setConnected(true);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/logs', function(message) {
                    showLogs(message.body);
                });
            });
        }

        function showLogs(message) {
            var table = document.getElementById("logs");
            var row = table.insertRow(0);
            var cell = row.insertCell(0);
            cell.innerHTML = message;
        }

        function disconnect() {
            if(stompClient != null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
            setConnected(false);
        }

        function setConnected(connected) {
            var connect = document.getElementById("connect");
            var disconnect = document.getElementById("disconnect");
            connect.disabled = connected;
            disconnect.disabled = !connected;
        }

    </script>
</head>
<body onload="disconnect()">
<div>
    <br />
    <div>
        <button id="connect" onclick="connect();">Connect to Logs</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Logs</th>
                </tr>
                </thead>
                <tbody id="logs">
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>